@use "../variables" as *;

section {
  position: relative;
  min-height: 100vh;
  padding: var(--main-pad);
}

.section-title {
  font-family: 'Lilita One', cursive;
  line-height: 1;
  text-align: center;

  margin-block: calc(2rem + 1vh) calc(1rem + 0.5vh);
  @include fontClamp(2rem, 6rem);
}
