@use "../variables" as *;

section {
  position: relative;
  padding: var(--main-pad);
}

.section-title {
  font-family: 'Russo One', cursive;
  line-height: 1;
  text-align: center;

  margin-block: calc(2.5rem + 2vh) calc(1rem + 0.5vh);
  @include fontClamp(2rem, 5rem);
}
