@use "../variables" as *;

#leaderboard {
  &.bg--1 { background-image: linear-gradient(13deg, var(--clr-1), var(--clr-2)); }
  &.bg--distance {
    background-image: linear-gradient(69deg, var(--clr-3) 42%, var(--clr-4) 58%);
    background-size: 400% 400%;
    animation: bgPossitionChange 26s ease infinite;
  }
}

@keyframes bgPossitionChange {
  0%{ background-position: 0% 50%; }
  50%{ background-position: 100% 50%; }
  100%{ background-position: 0% 50%; }
}

section#leaderboard .team {
  width: fit-content;
  min-width: min(20rem, 80vw);

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  margin-inline: auto;
  margin-block: 1rem;
  margin-block: calc(1rem + 1vh);

  transition-duration: 300ms;
  transition-timing-function: var(--transition-timing-fn);
  transition-property: margin;

  @media (min-width: 600px) {
    margin-block: 2rem;
    margin-block: calc(2rem + 1.5vh);
    gap: 0.75rem;
    min-width: min(45rem, 60vw);
  }

  &__participant-rank {
    color: var(--secondary-text-clr);
  }

  &__participant {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    background-color: #fff;
    padding-inline: 1rem;

    border-radius: 1.5rem;
    height: 3rem;

    @media (min-width: 600px) {
      gap: 1rem;
      padding-inline: 1.5rem;
      border-radius: 2rem;
      height: 4rem;
    }
  }

  &__participant-image {
    flex-shrink: 0;
    img {
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
      @media (min-width: 600px) {
        width: 3.25rem;
        height: 3.25rem;
      }
    }
  }

  &__participant-info, &__participant-distance-wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &__participant-name, &__participant-distance {
    @include fontClamp(0.875rem, 1.25rem);
  }

  &__participant-date {
    color: var(--secondary-text-clr);
    @include fontClamp(0.75rem, 0.875rem);
  }

  &__participant-name, &__participant-date {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__participant-distance-wrapper {
    margin-left: auto;
    flex-shrink: 0;
    align-items: flex-end;
  }

  &__participant-distance {
    margin-left: auto;
    font-weight: bold;
    letter-spacing: 0.05em;
  }

  &__participant-steps {
    color: var(--secondary-text-clr);
    @include fontClamp(0.75rem, 0.8125rem);
  }
}
