.rules {
  position: fixed;
  top: 40%;
  left: var(--main-pad);
  transform: translate(-50%, -50%) rotate(-90deg);
  z-index: 2;

  button {
    text-transform: uppercase;
    font-size: 0.875rem;
  }
}
