@use "../variables" as *;

section#map {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}

section#map .map {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &__title-wrapper {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    font-family: 'Russo One', cursive;
    text-align: center;
    line-height: 1;
    @include fontClamp(2rem, 5rem);
  }

  &__subtitle {
    text-align: right;
    @include fontClamp(0.875rem, 1.25rem);
  }

  &__markers {
    position: absolute;
    inset: 0;
  }

  &__pin {
    position: absolute;
    font-size: clamp(0.125rem, 0.125rem + 2vw, 0.5rem);
    border-radius: 50% 50% 50% 0;
    border: 1em solid;
    width: clamp(1.25rem, 1rem + 2vw, 2.5rem);
    height: clamp(1.25rem, 1rem + 2vw, 2.5rem);
    transform: translate(-50%, -100%) rotate(-45deg);
  }
}


.path-wrapper {
  max-height: 80vh;
  margin-inline: auto;
  display: block;
}

.path {
  stroke: #ddd;
  stroke-opacity: 1;
  stroke-linecap: round;
  stroke-linejoin: round;

  &--current { stroke-opacity: 0.86; }

  &--lt {
    stroke-width: 4;
    &.path--current {
      stroke: var(--clr-1);
      stroke-dasharray: 844;
      stroke-width: 2;
    }
  }

  &--pl {
    stroke-width: 10;
    &.path--current {
      stroke: var(--clr-1);
      stroke-dasharray: 844;
      stroke-width: 5;
    }
  }



  &--target {
    fill-opacity: 0;
  }
}
