@use "../variables" as *;

section.score {
  display: grid;

  .teams-wrapper {
    border: var(--border-thickness) solid var(--border-color);
    border-radius: var(--wrapper-border-radius);

    display: grid;
    grid-auto-rows: auto;
    position: relative;
    height: 100%;
    justify-items: center;
    align-items: center;

    &-bg {
      position: absolute;
      inset: 0;
      z-index: -1;
      height: 100%;
      width: 100%;
      user-select: none;
      pointer-events: none;
      overflow: hidden;
      object-fit: cover;
      filter: saturate(0.1) opacity(0.2);
    }


    @media (min-width: 600px) {
      grid-template-columns: 1fr 1fr;
      padding-bottom: 3rem;
      padding-bottom: calc(3vw + 2vh);
    }
  }

  .team-seperator {
    position: absolute;

    top: 50%;
    left: 0;
    width: 100%;
    height: 0;

    border-width: 0;
    border-top-width: var(--border-thickness);
    border-style: solid;
    border-color: var(--border-color);

    @media (min-width: 600px) {
      top: 0;
      left: 50%;
      width: 0;
      height: 100%;

      border-top-width: 0;
      border-left-width: 1px;
    }
  }
}

section.score .team {
  padding: var(--block-pad);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    aspect-ratio: 1 / 1;
    max-height: 7rem;
    position: relative;
    @media (min-width: 600px) {
      max-height: min(12rem, 100%);
    }
  }

  &__top-score {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-30%, calc(-100% - 0.375rem));
    border-radius: 0.625rem;
    padding: 0.375rem 0.75rem;

    background-color: var(--clr-2);
    color: var(--text-clr);
    white-space: nowrap;
    @include fontClamp(0.6875rem, 0.875rem);

    &:after {
      content: '';
      $size: 0.5rem;
      width: 0;
      height: 0;
      border-left: $size solid transparent;
      border-right: $size solid transparent;
      border-top: $size solid var(--clr-2);
      position: absolute;
      right: 16%;
      bottom: 0;
      transform: translateY(100%);
      user-select: none;
      pointer-events: none;
    }
  }

  // Main image / Avatars
  &__images {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    flex-wrap: nowrap;
    justify-content: center;
    color: var(--text-clr);

    &:after {
      opacity: 0;
      content: attr(data-title);
      position: absolute;
      bottom: -0.5rem;
      transform: translateY(0%);
      color: inherit;
      @include fontClamp(0.75rem, 0.875rem);
      text-transform: uppercase;
      letter-spacing: 0.05em;

      transition-duration: 300ms;
      transition-timing-function: var(--transition-timing-fn);
      transition-property: transform, opacity;
    }

    &:hover:after {
      display: block;
      opacity: 1;
      transform: translateY(100%);
    }

    @media (min-width: 600px) {
      gap: 0.5rem;
    }
  }
  &__image-wrapper {
    margin-bottom: 1rem;

    img {
      padding: 0.5rem;
      object-fit: cover;
      border-radius: 50%;
      background: #fff;
    }

    &--one {}

    &--all {
      display: flex;
      align-items: center;
      color: var(--text-clr);
      .team__image { max-height: 5rem; }
    }

    @media (min-width: 600px) {
      max-height: 12rem;
      height: calc(6rem + 5vw);
      margin-bottom: 2.5rem;

      &--all .team__image { max-height: 6rem; }
    }
  }




  &__name {
    @include fontClamp(1.25rem, 3rem);
    text-transform: uppercase;
    margin-top: 1rem;
  }

  &__info {
    @include fontClamp(0.875rem, 1.125rem);
    margin-block: 0.25rem;
    color: var(--secondary-text-clr);
    text-align: center;
    line-height: 1.5rem;
    letter-spacing: 0.1em;

    @media (min-width: 600px) {
      height: 4rem;
    }
  }


  &__points {
    font-family: 'Lilita One', cursive;
    text-align: center;
    line-height: 1;
  }
  &__points-num {
    @include fontClamp(3.5rem, 8rem);
  }

  &__points-label {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    @include fontClamp(1rem, 1.25rem);
  }
}
