@use "theme";

html { scroll-behavior: smooth; }

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  position: relative;

  color: var(--text-clr);
  background-color: var(--background);

  font-family: 'Comfortaa', cursive;
  font-weight: 400;
}

img { max-width: 100%; }
* { box-sizing: border-box; }


main {
  position: relative;
}

button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: unset;
  appearance: auto;
  cursor: pointer;
}
