@supports(--css: variables) {
  :root {
    // Colors
    --primary: hsl(350deg, 69%, 49%); // crimson;
    --text-clr: #222;
    --secondary-text-clr: #444;
    --background: #F5F5F5;

    // Box
    --main-pad: 1.25rem;
    --block-pad: 1rem;

    --border-thickness: 1px;
    --border-color: rgba(0, 0, 0, 0.1);
    --wrapper-border-radius: 0.625rem;
  }

  @media(min-width: 600px) {
    :root {
      --block-pad: 1.5rem;
    }
  }

  // Default theme
  // html[data-theme='light'] {}

  html[data-theme='dark'] {
    --text-color: #E4E6EB;
    --background: #18191A;
  }
}
